nav > ul {
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 10px;
    background-color: cadetblue;
    padding: 10px;
    border-radius: 5px;
    
}

nav li:hover{
    background-color: gray;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

/* dropdown menu */

nav .dropdown{
    display: none;
    position: absolute;
    padding-left: 20px;
}

nav li:hover > .dropdown{
    display: block;
}